<h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>
<% if user_signed_in? %>
<h3>Hello, <%= current_user.email %></h3>
<%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
<% else %>
<%= link_to "サインイン", new_user_session_path %>
<%= link_to "サインアップ", new_user_registration_path %>
<% end %>
<hr>
