<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


  <!-- Modal -->
  <div  id="editModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
          <h4 class="modal-title">俳優情報</h4>
        </div>
        <div class="modal-body">
            <%= nested_form_for @actor do |f| %>
              <div class="form-group">
                <label for="exampleInputEmail1">俳優名</label>
                <%= f.text_field :name, class: "form-control",placeholder:"俳優名" %>
              </div>
              <div class="form-group">
                <label for="exampleInputFile">写真</label>
                <%= f.file_field :picture %>
              </div>
              <div id="clock">
                <center>
                  <img src=""alt="" id ='image1' style="height: 300px;width: 500px" >
                </center>
              </div>

              <%= f.submit "完了" %>
              <!--<button type="submit" class="btn btn-default">Submit</button>-->
            <% end %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>

</div>
<script>
    $(document).ready(function () {
        $('#image1').attr('src');
        console.log($('#image1').attr('src'));
        $('input[name="actor[picture]"]').on('change',function () {
            if (this.files && this.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#image1').attr('src', e.target.result);
                }
                reader.readAsDataURL(this.files[0]);
            }
        })
    })
</script>
