<div class="rooms-section content-area">
  <div class="container">
    <!-- Main title -->
    <div class="main-title">
      <h1>勧めた映画の一覧</h1>
    </div>
    <div class="row">
      <%= render partial: "movies/suggested_movie", collection: @suggested_movies %>
    </div>
  </div>
</div>
