<div class="rooms-section content-area">
  <div class="container">
    <!-- Main title -->
    <div class="main-title">
      <center><h1>オススメ映画一覧</h1></center>
    </div>
    <% if @suggested_movies.blank? %>
      <center> <h4> 新しい映画がありません。</h4></center>
    <% else %>
    <div class="row">
      <%= render partial: "movies/suggested_movie", collection: @suggested_movies %>
    </div>
    <% end %>
    </div>
</div>
