<ul class="nav nav-tabs widget">
	<li class="active"> <a data-toggle="tab" href="#profile-tab"> User's posts <span class="menu-active"><i class="fa fa-caret-up"></i></span> </a></li>
	<li class=""> <a data-toggle="tab" href="#saved-tab"> Saved posts <span class="menu-active"><i class="fa fa-caret-up"></i></span> </a></li>
	<li class=""> <a data-toggle="tab" href="#photos-tab"> Profile <span class="menu-active"><i class="fa fa-caret-up"></i></span> </a></li>
</ul>
