<body style="background: url(banner.jpg)">
    <div class="container-fuild">

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-3 header-inner">
                    <a href="#" class="logo">
                        <%= link_to image_tag("logo3.png") %>
                    </a>
                </div>
            </div>

            <div class="col-md-12">
                <div class="row profile">
                    <%= render 'shared/avatar' %>
                    <div class="col-sm-9">
                        <div class="tabs widget">
                        <%= render 'tab_name_show' %>
                            <div class="tab-content">
                                <%= render 'info' %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
</div>
<br>
<br>
<br>
<br>

</body>
