<div class="col-sm-3">
    <div class="panel widget light-widget panel-bd-top">
        <div class="well">
        <div class="text-center vd_info-parent">
                <% if @user.picture? %>
                <%= image_tag @user.picture.url ,class: "avatar" if @user.picture?%>
                <% else %>
                <%=image_tag("/images/phim1.jpg",class="avatar") %>
                <% end %>
            </div>
            <div class="row">
            </div>
            <h2 class="font-semibold mgbt-xs-5"><%= @user.name %></h2>
            <div class="mgtp-20">
                <% if @user.id == current_user.id %>
                <table class="table table-striped table-hover" >
                    <tbody >
                        <tr>
                            <td align="center">
                                <i class="fa fa-pencil-square-o" style="color: #1866b1;"></i>
                                <%= link_to "Edit profile", edit_user_path(current_user) %> </td>
                            </tr>
                            </tbody>
                        </table>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
