@import "bootstrap-sprockets";
@import "bootstrap";
.movies {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid ;
  }
}
.dropdown-menu .dropdown-item, .dropdown-menu li > a {
    font-size: 1.5rem !important;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link{
  background-color: #17A2B8;
}
.head{
  padding:5px 15px;
  border-radius: 3px 3px 0px 0px;
}
.footer{
  padding:max-width;
  border-radius: 0px 0px 3px 3px;
}
.notification-box{
  padding: 10px 0px;
}
.bg-gray{
  background-color: #eee;
}
@media (max-width: 640px) {
    .dropdown-menu{
      top: 50px;
      left: -16px;
      width: 290px;
    }
    .nav{
      display: block;
    }
    .nav .nav-item,.nav .nav-item a{
      padding-left: 0px;
    }
    .message{
      font-size: 13px;
    }
}
