<header class="main-header main-header-4">
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <a href="index.html" class="logo">
                    <%= link_to image_tag("logo3.png") %>
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="navbar-collapse collapse" role="navigation" aria-expanded="true" id="app-navigation">
                
                <ul class="nav navbar-nav">
                    <li>
                        <a id="header-search-btn" ></a>
                    </li>
                    <li>
                        <a id="header-search-btn" >HOME</a>
                    </li>
                    <li>
                        <a id="header-search-btn" >CONTACT</a>
                    </li>
                    <!--<li class="dropdown active">-->
                    <!--    <a tabindex="0" data-toggle="dropdown" data-submenu="" aria-expanded="false">-->
                    <!--        Home<span class="caret"></span>-->
                    <!--    </a>-->
                    <!--    <ul class="dropdown-menu">-->
                    <!--        <li><a href="index.html">Home 1</a></li>-->
                    <!--        <li><a href="index-2.html">Home 2</a></li>-->
                    <!--        <li><a href="index-3.html">Home 3</a></li>-->
                    <!--        <li><a href="index-4.html">Home 4</a></li>-->
                    <!--    </ul>-->
                    <!--</li>-->
                    
                    
                </ul>
                <ul class="nav navbar-nav navbar-right hidden-sm hidden-xs">
                    <li>
                        <input type="text" class="btn-navbar btn btn-sm btn-theme-sm-outline btn-round" placeholder="search movie here" >
                    </li>
                    <li>
                        <a id="header-search-btn" class="btn-navbar search-icon"><i class="fa fa-search"></i></a>
                    </li>
                    <li>
                        <a id="header-search-btn" >sign up</a>
                    </li>
                    <li>
                        <a id="header-search-btn" >login</a>
                    </li>
                </ul>
            </div>

            <!-- /.navbar-collapse -->
            <!-- /.container -->
        </nav>

        <div class="header-search animated fadeInDown">
            <form class="form-inline">
                <input type="text" class="form-control" id="searchKey" placeholder="Search...">
                <div class="search-btns">
                    <button type="submit" class="btn btn-default">Search</button>
                </div>
            </form>
        </div>
    </div>
</header>